*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea
libs
out
gradle
gradlew
*.gradle
*.bat
*.idea
*.iml

# Floobits
*.floo
*.flooignore

# Specific Files
config.json
server_configs.json
test.json